@import url("https://fonts.googleapis.com/css2?family=Belleza&family=Inter:wght@400;600&family=Roboto&display=swap");

* {
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  list-style: none;
  border: 0;
}

:root {
  --colorPrimary: #3a68b7;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: var(--colorPrimary);
}

.form {
  width: 80%;
  min-width: 28.125rem;
  max-width: 35rem;
  background-color: #fff;
  box-shadow: -8px 1px 3px #0b2758;
  padding: 1rem;
  border-radius: 7px;
}

.fieldset_form {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding: 1rem;
}

.form__label {
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 300;
}

.form__input {
  border: none;
  border-bottom-color: #bbb;
  padding: 0.5rem 0;
  font-size: 1.2rem;
  border-radius: 0;
  border-bottom: 1px solid var(--colorPrimary);
  margin-bottom: 0.8rem;
  outline: none;
  transition: padding-left 0.08s;
}

.form__input::placeholder {
  font-size: 0.8rem;
}

.form__input:focus {
  outline: 2px solid var(--colorPrimary);
  padding-left: 0.3rem;
}

.title_form {
  color: var(--colorPrimary);
  font-size: 2rem;
  font-weight: 300;
  padding: 2rem 0 0;
}

.enviar {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.rowReverse {
  display: flex;
  flex-direction: row-reverse;
}

.btn {
  text-transform: uppercase;
  font-size: 1rem;
  border: 3px;
  border: none;
  outline: none;
  padding: 0.8rem 1.2rem;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 0.1rem;
  cursor: pointer;
}

.btn__principal {
  background-color: var(--colorPrimary);
  color: #fff;
  border-radius: 4px;
}

.btn__novo {
  color: var(--colorPrimary);
}

.action__form__aside {
  text-decoration: none;
  font-size: 0.85rem;
  text-align: right;
}
